<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="CSS/detalle-prestamo.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img class="large-logo" src="img/Logo fabes blanco.png" alt="Large Logo">
                            <img class="small-logo" src="img/Icono fabes blanco.png" alt="Small Logo">
                        </span>
                    </a>
                    
                </li>

                <li class="hovered">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                        <i class="fas fa-chevron-down inicio-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Usuario</span>
                        <i class="fas fa-chevron-down usuario-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="card-outline"></ion-icon>
                        </span>
                        <span class="title">Adm Créditos</span>
                        <i class="fas fa-chevron-down adm-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="pie-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Reportes</span>
                        <i class="fas fa-chevron-down reportes-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-usd"></ion-icon>
                        </span>
                        <span class="title">Prestamos</span>
                        <i class="fas fa-chevron-down prestamos-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                        <span class="title">Administración</span>
                        <i class="fas fa-chevron-down administracion-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </span>
                        <span class="title">Mobile</span>
                        <i class="fas fa-chevron-down mobile-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuración</span>
                        <i class="fas fa-chevron-down confi-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="nombre">
                    <h2>Hola, Jhovanny</h2>
                </div>


                <div class="campana">
                    <i class="fas fa-bell"></i> <!-- Icono de campana -->
                    <div class="notification-dot"></div> <!-- Punto de notificación -->
                    <div id="notification-modal" class="modal"> <!-- Modal de notificación -->
                        <i class="fas fa-times close"></i> <!-- Botón de cierre con icono -->
                        <p>Tienes una nueva notificación</p> <!-- Notificación de prueba -->
                        <p>Un cliente</p>
                    </div>
                </div>

                <div class="user">
                    <img src="img/customer01.jpg" alt="">
                </div>
                <p class="nombre-usuario">Jhovanni Torres</p> <!-- Nombre del usuario -->
                <p class="titulo-usuario">Encargado</p> <!-- Título del usuario -->
            </div>

            <div class="title">
                <i class="fa-solid fa-chevron-left" onclick="window.location.href='visualizar-prestamo.html';"></i>
                <h2><em>DETALLE PRÉSTAMO</em></h2>
            </div>

            <div class="segundo-encabezado">
                <div class="Icono-lapiz">
                    <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                    <h3>Datos</h3>
                </div>
                <div class="linea-horizontal">
                    <div class="linea-carga"></div> <!-- Línea de carga -->
                </div>
                <div class="domicilio">
                    <i class="fa-solid fa-2"></i>
                    <h3>Observaciones</h3>
                </div>
            </div>
        

            <!-- ======================= Cards ================== -->
            

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardBox2">
                        <div class="input-gris">
                            <div class="Tnombre">Revisión</div>
                            <input type="text" value="Aceptado" id="inputEstatus" readonly>
                        </div>
                        <div class="input-gris">
                            <div class="Tnombre">Estatus</div>
                            <input type="text" value="Pendiente" id="inputEstatus" readonly>
                        </div>
                        <div class="input-gris">
                            <div class="Tnombre">Folio</div>
                            <input type="text" value="2126" id="inputFecha" readonly>
                        </div>
                        
                        <div class="input">
                            <div class="Tnombre">Plazo</div>
                            <input type="text" placeholder="Escriba el plazo" id="inputCURP">
                        </div>
                        
                    </div>
                    <div class="cardBox2">
                        <div class="input">
                            <div class="Tnombre">Capital</div>
                            <input type="text" placeholder="Escriba la capital" id="input1">
                            
                        </div>
                        <div class="input">
                            <div class="Tnombre">Intereses</div>
                            <input type="text" placeholder="Escriba los Intereses" id="input1">
                            
                        </div>
                       
                        <div class="input">
                            <div class="Tnombre">F.G.</div>
                            <input type="text" placeholder="Escriba el F.G." id="input1">
                            
                        </div>
                        <div class="input">
                            <div class="Tnombre">Total</div>
                            <input type="text2" placeholder="Escriba el total" id="input2">
                            
                        </div>
                        
                    </div>
                    <div class="cardBox2">
                        <div class="input">
                            <div class="Tnombre">Desc.Qna.</div>
                            <input type="text" placeholder="Escriba el Desc.Qna." id="inputRFC">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Fecha sol.</div>
                            <input type="text" placeholder="Escriba la fecha sol" id="inputNombre">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Etapa</div>
                            <input type="text" placeholder="Escriba la etapa" id="inputCURP">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Qna.Inicial.</div>
                            <input type="text" placeholder="Escriba la Qna.Inicial." id="inputCURP">
                        </div>
                        
                    </div>
                    <div class="cardBox2">
                        <div class="input">
                            <div class="Tnombre">Qna.Final.</div>
                            <input type="text" placeholder="Escriba la Qna.Final." id="inputRFC">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Descuento</div>
                            <input type="text" placeholder="Escriba el descuento" id="inputNombre">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Tipo prestamo</div>
                            <input type="text" placeholder="Escriba el tipo de prestamo" id="inputCURP">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Año</div>
                            <input type="text" placeholder="Escriba el año" id="inputCURP">
                        </div>
                    </div>
                    <div class="cardBox2">
                        <div class="input">
                            <div class="Tnombre">Percepciones</div>
                            <input type="text" placeholder="Escriba la Percepción" id="inputRFC">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Deducciones</div>
                            <input type="text" placeholder="Escriba la deduccion" id="inputNombre">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Liquido</div>
                            <input type="text" placeholder="Escriba el Liquido" id="inputCURP">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Liquido constancia</div>
                            <input type="text" placeholder="Escriba la constancia" id="inputCURP">
                        </div>
                        
                    </div>
                    <div class="boton-buscar">
                        <button type="button" onclick="window.location.href='detalle-prestamo2.html';">Siguiente</button>
                    </div>
                    
                </div>

                <!-- ================= New Customers ================ -->
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="JS/detalle-prestamo.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>