<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="CSS/login.css">
    <title>Login</title>
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-dark">
    <img src="img/Logo fabes blanco.png" alt="Logo Superior" class="logo-superior">
    <div class="card w-50">
        <div class="card-body">
            <img src="img/Icono fabes blanco.png" alt="Logo" class="logo">
            <h1 class="card-title text-center mb-4">INICIO DE SESIÓN</h1>
            <form action="index.html"POST">
                <div class="form-group">
                    <label for="tipo">Tipo de fondo</label>
                    <div class="input-wrapper">
                        <select id="tipo">
                            <option value="" disabled selected>Selecciona el fondo</option>
                            <option value="claro">Claro</option>
                            <option value="oscuro">Oscuro</option>
                        </select>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <button type="submit" class="btn btn-block">Entrar</button> 
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>