<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="CSS/menu.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img class="large-logo" src="img/Logo fabes blanco.png" alt="Large Logo">
                            <img class="small-logo" src="img/Icono fabes blanco.png" alt="Small Logo">
                        </span>
                    </a>
                    
                </li>

                <li class="hovered"> <!-- Añade la clase 'hovered' aquí -->
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                        <i class="fas fa-chevron-down inicio-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Usuario</span>
                        <i class="fas fa-chevron-down usuario-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="card-outline"></ion-icon>
                        </span>
                        <span class="title">Adm Créditos</span>
                        <i class="fas fa-chevron-down adm-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="pie-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Reportes</span>
                        <i class="fas fa-chevron-down reportes-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-usd"></ion-icon>
                        </span>
                        <span class="title">Prestamos</span>
                        <i class="fas fa-chevron-down prestamos-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                        <span class="title">Administración</span>
                        <i class="fas fa-chevron-down administracion-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </span>
                        <span class="title">Mobile</span>
                        <i class="fas fa-chevron-down mobile-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuración</span>
                        <i class="fas fa-chevron-down confi-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="nombre">
                    <h2>Hola, Jhovanny</h2>
                </div>

                <div class="campana">
                    <i class="fas fa-bell"></i> <!-- Icono de campana -->
                    <div class="notification-dot"></div> <!-- Punto de notificación -->
                    <div id="notification-modal" class="modal"> <!-- Modal de notificación -->
                        <i class="fas fa-times close"></i> <!-- Botón de cierre con icono -->
                        <p>Tienes una nueva notificación</p> <!-- Notificación de prueba -->
                        <p>Un cliente</p>
                    </div>
                </div>
                

                <div class="user">
                    <img src="img/customer01.jpg" alt="">
                </div>
                <p class="nombre-usuario">Jhovanni Torres</p> <!-- Nombre del usuario -->
                <p class="titulo-usuario">Encargado</p> <!-- Título del usuario -->
            </div>
            <div class="flecha-atras">
                <i class="fa-solid fa-chevron-left fecha-back"></i>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardBox">
                        <div class="card-empleo">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/empleo.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Empleo</h2>
                                <div class="button-container">
                                    <button class="eye-button" onclick="window.location.href='detalle-empleo.html';"><i class="fas fa-eye"></i></button>
                                    <button class="edit-button" onclick="window.location.href='editar-empleo.html';">Editar</button>
                                </div>
                            </div>
                        </div>
        
                        <div class="card-beneficiarios">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/beneficiarios.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Beneficiarios</h2>
                                <div class="button-container">
                                    <button class="eye-button"><i class="fas fa-eye"></i></button>
                                    <button class="edit-button">Editar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-ahorro">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/ahorro.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Ahorro</h2>
                                <button class="eye-button-A">
                                    <i class="fas fa-eye"></i>
                                    <p>Visualizar</p>
                                </button>
                            </div>
                        </div>
                        <div class="card-bajas">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/bajas.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Bajas</h2>
                                <div class="button-container">
                                    <button class="eye-button"  onclick="window.location.href='detalle-bajas.html';"><i class="fas fa-eye"></i></button>
                                    <button class="edit-button" onclick="window.location.href='editar-bajas.html';">Editar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-prejubilado">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/prejubilado.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Prejubilado</h2>
                                <div class="button-container">
                                    <button class="eye-button" onclick="window.location.href='detalle-prejubilado.html';"><i class="fas fa-eye"></i></button>
                                    <button class="edit-button">Editar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-prestamo">
                            <div class="profile-container">
                                <img class="profile-picture" src="img/prestamos.svg" alt="Profile Picture">
                            </div>
                            <div class="title-button-container">
                                <h2 class="title-card">Prestamos</h2>
                                <button class="eye-button-A">
                                    <i class="fas fa-eye"></i>
                                    <p>Visualizar</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="profile-container">
                        <img src="img/Foto-perfil.png" alt="Foto de perfil" class="profile-pic">
                        <div class="button-container">
                            <button class="eye-button" onclick="location.href='detalle-datos1.html';"><i class="fas fa-eye"></i></button>
                            <button class="edit-button" onclick="location.href='editar-datos1.html';">Editar</button>
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="info-item">
                            <i class="fa-regular fa-user user-icon"></i>
                            <div class="info-text">
                                <div class="info-titulo">
                                    <p>Nombre</p>
                                </div>
                                <div class="info-nombre">
                                    <p class="nombre">Juan Diego</p>
                                    <p class="apellido">Pérez López</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <i class="fa-regular fa-heart corazon-icon"></i>
                            <div class="info-text">
                                <div class="info-titulo">
                                    <p>Estado civil</p>
                                </div>
                                <div class="info-nombre">
                                    <p class="nombre">Soltero</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <i class="fa-solid fa-mobile-screen movil-icon"></i>
                            <div class="info-text">
                                <div class="info-titulo">
                                    <p>Celular</p>
                                </div>
                                <div class="info-nombre">
                                    <p class="nombre">9614734865</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <i class="fa-solid fa-location-dot GPS-icon"></i>
                            <div class="info-text">
                                <div class="info-titulo">
                                    <p>Municipio</p>
                                </div>
                                <div class="info-nombre">
                                    <p class="nombre">Tuxtla Gutierrez</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                            <i class="fa-solid fa-map-pin pin-icon"></i>
                            <div class="info-text">
                                <div class="info-titulo">
                                    <p>Colonia</p>
                                </div>
                                <div class="info-nombre">
                                    <p class="nombre">Casitas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="JS/menu.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>