<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="CSS/visualizar-prestamo.css">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img class="large-logo" src="img/Logo fabes blanco.png" alt="Large Logo">
                            <img class="small-logo" src="img/Icono fabes blanco.png" alt="Small Logo">
                        </span>
                    </a>
                    
                </li>

                <li class="hovered">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                        <i class="fas fa-chevron-down inicio-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Usuario</span>
                        <i class="fas fa-chevron-down usuario-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="card-outline"></ion-icon>
                        </span>
                        <span class="title">Adm Créditos</span>
                        <i class="fas fa-chevron-down adm-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="pie-chart-outline"></ion-icon>
                        </span>
                        <span class="title">Reportes</span>
                        <i class="fas fa-chevron-down reportes-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-usd"></ion-icon>
                        </span>
                        <span class="title">Prestamos</span>
                        <i class="fas fa-chevron-down prestamos-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="folder-outline"></ion-icon>
                        </span>
                        <span class="title">Administración</span>
                        <i class="fas fa-chevron-down administracion-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </span>
                        <span class="title">Mobile</span>
                        <i class="fas fa-chevron-down mobile-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuración</span>
                        <i class="fas fa-chevron-down confi-icon"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div id="confirmModal" style="display:none;">
                <i class="fa-regular fa-circle-question"></i>
                <p>Desea eliminar beneficiario</p>
                <button id="cancelButton">Cancelar</button>
                <button id="acceptButton">Eliminar</button>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal2">
                <div class="modal-content">
                    <div class="title">
                        <h2><em>NUEVO BENEFICIARIO</em></h2>
                    </div>
                    
                    <div class="cardBox3">
                        <div class="input">
                            <div class="Tnombre">Nombre</div>
                            <input type="text" placeholder="Escribe el nombre" id="inputCEN">
                        </div>
                    </div>
                    <div class="cardBox4">
                        <div class="input">
                            <div class="Tnombre">Porcentaje</div>
                            <input type="text" placeholder="Escribe el porcentaje %" id="inputNombre">
                        </div>
                        <div class="input">
                            <div class="Tnombre">Parentesco</div>
                            <div class="select-container">
                                <select id="input2">
                                    <option value="" disabled>Seleccione el parentesco</option>
                                    <option value="soltero" selected>Soltero</option>
                                    <option value="casado">Casado</option>
                                    <!-- Agregar más opciones -->
                                </select>
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="cardBox2">
                            <div class="input">
                                Tutor
                                <label for="inputAdhesion" class="checkbox-label">
                                    <input type="checkbox" id="inputAdhesion" checked>
                                    <span class="checkmark"></span>
                                    Si
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="boton-buscar2">
                        <button type="button" id="cerrar-modal2" class="boton-atras">Cancelar</button>
                        <button type="button">Guardar</button>
                    </div>
                </div>
            </div>
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="nombre">
                    <h2>Hola, Jhovanny</h2>
                </div>


                <div class="campana">
                    <i class="fas fa-bell"></i> <!-- Icono de campana -->
                    <div class="notification-dot"></div> <!-- Punto de notificación -->
                    <div id="notification-modal" class="modal"> <!-- Modal de notificación -->
                        <i class="fas fa-times close"></i> <!-- Botón de cierre con icono -->
                        <p>Tienes una nueva notificación</p> <!-- Notificación de prueba -->
                        <p>Un cliente</p>
                    </div>
                </div>

                <div class="user">
                    <img src="img/customer01.jpg" alt="">
                </div>
                <p class="nombre-usuario">Jhovanni Torres</p> <!-- Nombre del usuario -->
                <p class="titulo-usuario">Encargado</p> <!-- Título del usuario -->
            </div>

            <div class="title">
                <i class="fa-solid fa-chevron-left" onclick="window.location.href='menu.html';"></i>
                <h2><em>PRÉSTAMO</em></h2>
            </div>
        

            <!-- ======================= Cards ================== -->
                <div class="boton-buscar2">
                    <button type="button" id="botonGuardar">Nuevo prestamo</button>
                </div> 
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <table>
                        <thead>
                            <tr>
                                <td>Ren</td>
                                <td>Estatus</td>
                                <td>Qna.Inicial</td>
                                <td>Qna.Final</td>
                                <td>Plazo</td>
                                <td>Desc.Qnal.</td>
                                <td>Capital</td>
                                <td>Saldo</td>
                                <td>Detalle</td>
                                <td>Editar</td>
                                <td>Pagos</td>
                                <td>Cheques</td>
                                <td>Liquidación</td>
                                <td>Edo.Cuenta</td>
                                <td>Cancelar</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Pendiente</td>
                                <td>202309</td>
                                <td>202709</td>
                                <td>32</td>
                                <td>$10,000</td>
                                <td>$150,000</td>
                                <td>$10,000</td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="editar-modal-b icon-container">
                                        <i class="fas fa-pencil-alt"></i> <!-- Icono de lápiz -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-regular fa-credit-card"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-money-check"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-invoice-dollar"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-file-lines"></i> <!-- Icono de estado de cuenta -->
                                    </div>
                                </td>
                                <td>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-trash-can" onclick="eliminarFila(this)"></i>
                                    </div>
                                </td>
                            </tr>
                            

                            
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="JS/visualizar-prestamos.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>